{% extends "base.njk" %}

{% block titulo %}Habitaciones | Nueva{% endblock %}

{% block contenido %}

<div class="container mt-5">
  <h2 class="mb-4">Formulario de Alta de Habitaciones</h2>

  <form action="/habitaciones" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="numero_habitacion">Número de Habitación:</label>
      <input type="number" class="form-control" id="numero" name="numero" >
      {% if error and error.numero %}
        <div class="alert alert-danger">
          {{ error.numero|safe }}
        </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="tipo_habitacion">Tipo de Habitación:</label>
      <select class="form-control" id="tipo" name="tipo">
        <option value="individual">Individual</option>
        <option value="doble">Doble</option>
        <option value="familiar">Familiar</option>
        <option value="suite">Suite</option>
      </select>
      {% if error and error.tipo %}
        <div class="alert alert-danger">
        {# <div style="color: red;"> #}
          {{ error.tipo|safe }}
        </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="precio_noche">Precio por Noche:</label>
      <input type="number" class="form-control" id="precio_noche" name="precio" >
      {% if error and error.precio %}
        <div class="alert alert-danger">
        {# <div style="color: red;"> #}
          {{ error.precio|safe }}
        </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="descripcion_habitacion">Descripción de la Habitación:</label>
      <textarea class="form-control" id="descripcion" name="descripcion" rows="4" ></textarea>
      {% if error and error.descripcion %}
        <div class="alert alert-danger">
        {# <div style="color: red;"> #}
          {{ error.descripcion|safe }}
        </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="imagen_habitacion">Imagen de la Habitación:</label>
      <input type="file" class="form-control-file" id="imagen" name="imagen">
      {% if error and error.imagen %}
        <div class="alert alert-danger">
          {{ error.imagen|safe }}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

{% endblock %}
